Flask==2.3.2
twilio==8.3.0
openai==0.27.8
requests==2.31.0
Pillow==9.5.0
python-dotenv==1.0.0
langchain==0.0.271
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-texttospeech==2.14.1
googleapis-common-protos==1.60.0
google-cloud-speech==2.21.0
